html
  head

  body
    h1 smallbites - verification
    h2 Your verification link is: #{ code }
    p Someone registered an account on smallbites using your email address (#{ email }) as #{ displayname }.
    p If this wasn't you, ignore this email. If it was you, click on the link to verify your account.
    p This code will expire in an hour.
