extends ../layout.pug

block head
  title 400 - smallbites

block content
  h1 400 - bad request
  if message
    p= message
  else
    p Your request is invalid. Please try going back and trying again.
